@{
    ViewBag.Title = "CarFinderApp";
}

<br />

<div class="jumbotron">
    <p align="center"><img src="~/images/CarFinderAppCollage.jpg" /></p>
    <br />
    <p class="lead">This is a Web API application uses AngularJS, HTML5, MVC, and C# 
    to retrive recall information provided by the National Highway Traffic Safety Administration 
    (NHTSA) with coressponing images are rendered from Bing.com search.
    </p>
    <p>@Html.ActionLink("Start Here", "FindMyCar", "Home", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>

