@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using CarFinder.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "CarFinder Help Page";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h3>CarFinderApp Help Page</h3>
        </div>
    </div>
</header>
<div id="body" class="help-page">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
</div>
